#app{
    display: flex;
    flex-direction: row;
}
a{
    text-decoration: none ;

}
input{
    margin-left: 4px;
}
.Nav{
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vw;
    height:100vh;
    width:20vw;

}
.checker{
    transition: .7s;
    margin-left: 4px;
    white-space: pre-wrap;
    height: 50px;
    /* height: fit-content; */
    width: fit-content;
}
.hidden{
    transition: .5s;
    height: 0px;
    width: 0px;
    margin-left: 4px;
    background-color: hotpink;
}
.error{
    color:white;
    background-color:#ff0033;
}
.success{
    color:white;
    background-color:#61fda7;
}
.selected{
    background-color: rgb(107, 214, 218);
    color:darkblue;
    padding: 3px 6px;
    border-radius: 20%/50% ;
}
#frame{
    
}
#frame-wrap{
    position: relative;
    background-color: red;
    width:80px;
    height: 80px;
    overflow: hidden;
}
#hider{
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    position: absolute;
    height:80px;
    width:80px;
    background: #113;
}
#play{
    transition:.3s;
    background-image: url(./icons/play.svg);
    background-size:40px;
    overflow: visible;
    justify-self: center;
    height:40px;
    width:40px;
    pointer-events: none;
    border-radius: 50%;
    box-shadow: 0 0 5px .5px white;
    
}
#play.hover{
    border-width: 40px;
    height:45px;
    width: 45px;
    background-size:45px;
    
}
#play.playing{
    background-image: url(./icons/pause.svg);
    }
img.artist{
    border-radius:50%;
}