input{
    margin-left: 4px;
}
.checker{
    transition: .7s;
    margin-left: 4px;
    white-space: pre-wrap;
    height: 50px;
    /* height: fit-content; */
    width: fit-content;
}
.hidden{
    transition: .5s;
    height: 0px;
    width: 0px;
    margin-left: 4px;
    background-color: hotpink;
}
.error{
    color:white;
    background-color:#ff0033;
}
.success{
    color:white;
    background-color:#61fda7;
}