body{
    background-color: #222;
    color: white;
}
body::-webkit-scrollbar{
display: none;
}
a{
    text-decoration: none ;
    color:white;
}
a:hover{
    text-decoration: underline ;
}
input{
    margin-left: 4px;
}
main{
    position: relative;
    height:95vh;
    width:100%;
    overflow: auto;
    grid-area: main;
}
main::-webkit-scrollbar{
    display: none;
}
.Nav{
    z-index: 3;
    grid-area: nav;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    width:100px;
    overflow: hidden;
}
#search{
    transition:.3s;
    grid-area: search;
    border-radius:10%/50%;
    padding: 0 6px;
    width:180px;
    outline: 0;
}
#search:focus{
    transition:.5s;
    width:200px;
}
#app{
    display: grid;
    grid-template-rows: 30px 1fr;
    grid-template-columns: 120px 1fr;
    grid-template-areas: 
    "nav Search"
    "nav main"
    ;
}
.checker{
    transition: .7s;
    margin-left: 4px;
    white-space: pre-wrap;
    height: 50px;
    /* height: fit-content; */
    width: fit-content;
}
.hidden{
    transition: .5s;
    height: 0px;
    width: 0px;
    margin-left: 4px;
    background-color: hotpink;
}
.error{
    color:white;
    background-color:#ff0033;
}
.success{
    color:white;
    background-color:#61fda7;
}
.selected{
    background-color: rgb(107, 214, 218);
    color:darkblue;
    padding: 3px 6px;
    border-radius: 20%/50% ;
}
img.artist{
    border-radius:50%;
}
.cover{
    width:100%;
    background-size:100%;
    background-position: center;
    background-color: #333;
    color:white;
}
.cover.album{
    width:100%;
    background-size:100%;
    min-width: 500px;
    background-position: center;
    background-color: #353530;
    color:white;
    display: flex;    
    flex-direction: row;
}
.cover img{
    padding: 5px;
}
.songlist{
    min-width:500px
    
}
.song{
    display: grid;
    grid-template-columns: 30px 20px 25px 1fr 60px 60px ;
    column-gap: 5px;
    text-align: center;
    padding:2px 1px;
    border-bottom: 1px solid black;
}
.song span{
    align-self: center;
}
.song img{
    height:30px;
}
.like{
    align-self: center;
    padding:0;
    height:20px;
    
}
.albumlist{
    display: flex;
}
.album{
    margin:5px;
    display: flex;
    flex-direction: column;
    height: 160px;
    width: 120px;
    font-size: x-small;
    align-content: center;
    text-align: start;
}
.album img{
    width: 120px ;
    padding:1px;
}
.album span{
    padding:0 4px;
}
.pageNav .selected{
border-radius:0; 
}