#home{
  position: relative;
  background-color: #111;
  width:100%;
  padding-left: 3%;
  overflow: hidden;
}
#home h2{
  padding:3%;
  margin-left:-3%;
  border-top:#ddd .5px solid;
}
header{
  margin-left: -3%;
  position: relative;
  height: 40vh;
  background-image: linear-gradient(to bottom,
  #333 , #111 );
  padding-left: 3%;
}
header h1{
  position: absolute;
  bottom:0px;
  /* margin-left:15px; */
  font-size: xxx-large;
}
  #mini{
    transition: .4s;
    color: transparent;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    position:fixed;
    top:0vh;
    z-index: 2;
  }
  #mini h1{
    margin:30px 0 0 10px;
    bottom:0;
  }
  #mini.show{
    transition: .4s;
    color:white;
    background-color: #1a1a1a;
    height: 12vh;
    width:100%;
    padding-bottom: 10px;
    border-bottom: 2px #333 solid;
  }
  .carousel h2{
    margin-left:5px;   
  }
  .carousel .charts{
    width:100%;
  display: flex;
  grid-area: charts;
  padding: 0 5px;
  /* overflow-x: scroll; */
}
.carousel button{
    transition:0.2s;
    outline-style:none ;
    position: relative;
    bottom: 50px;
    height: 50px;
    width: 50px;
    background-color: rgba(200,200,200,.3);
    border-radius: 50%;
    border:none;
    background-image: url('../icons/play.svg');
    background-size: 50px;
}
.carousel button:hover{
    transition:0.2s;
    box-shadow: 0 0 0 5px white;    
} 
.carousel button:disabled{
    transition:0.2s;
    box-shadow: none;    
    background-image: url('../icons/play_disabled.svg');
    
} 
.right{
    grid-area: right;
    justify-self:center ;
}
.left{
    transform: scaleX(-1);
    grid-area: left;
    justify-self:center ;
}
.carousel .display{
  display:grid;
  grid-template-columns: 60px 1fr 60px;
  grid-template-areas: "left charts right";
  align-items: center;
  padding: 0 5px;
  width:90%
}
.carousel{
  /* margin-left: 5%;   */
}

.card{
    display: flex;
    flex-direction: column;
    width:19%;
    min-height: 200px;
    padding: 2px;
    margin: .5%;
}
.card p{
  margin:0;
  align-self: flex-start;
  margin-left:16px;
}
.card img{
  height: auto;
  width: 100%;
}
    .card h3{
      margin:0;
      margin-left:5px;
      height: 50px;
      height: 2.5em;
    }
    .long{
      font-size: medium ;
    }
    .long:after{
      height: .5em;

    }
.card a{
  width: 100%;
  overflow: hidden;
}
.artistImg{
  border-radius:50%;
}