#playlistPage .cover h2{
    grid-area: name;
}
#playlistPage .cover h4{
    grid-area: artist ;
}
#playlistPage .cover span{
    grid-area: details ;
}
#playlistPage .cover img{
    justify-self: center;
    align-self: center;
    grid-area: img;
    height:180px;
    width:180px;
}

#playlistPage .cover{
    position: relative;
    padding-top:5vh;
    width:100%;
    background-color: #333;
    color:white;
    background-image: linear-gradient(to bottom,
    #444 , #222 );
    min-width: 500px;
    display: grid;    
    grid-template-rows:1fr 1fr 1fr ;
    grid-template-columns: fit-content 1fr;
    grid-template-areas: 
    "img name"
    "img artist"
    "img details"
    ;
}